node_modules
.env
.env.local
.env.local.example
BACKEND_STRUCTURE.md
API_DOCUMENTATION.md
FIRESTORE_RULES.md
jsconfig.json
client-9b88b-firebase-adminsdk-fbsvc-8175bb975b.json
API_REFERENCE_FOR_LOVABLE.md


